@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html {
  background-color: rgb(218, 238, 241);
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  color: #1e1a3b;
}

.city {
  width: 250px;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

#city-search,
#number-of-events {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#event-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
  list-style-type: none;
  max-width: 1100px;
  position: relative;
  gap: 23px;
}

#city-grid-item {
  position: relative;
  min-height: 150px; /* Reserve space for dynamic content */
  border: 3px solid #6b6b6b;
  border-radius: 4px;
  margin-bottom: 35px;
  padding: 10px;
  background-color: rgb(170, 239, 250);
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  text-align: left;
  border-radius: 4px;
  position: relative;
  background-color: rgb(170, 239, 250);
}

.details-btn {
  position: absolute;
  right: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: rgb(167, 209, 226);
  border: 1px solid black;
  font-weight: bold;
}
